@model List<Character>
@{
    ViewBag.Title = "Sonic Characters";
}

<table class="table table-sm table-success table-striped" style="color:midnightblue">
    <thead>
        <tr>
            <th>Name</th>
            <th>Origin</th>
            <th>Medium</th>
            <th>Year</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var character in Model)
        {
            <tr>
                <td>@character.Name</td>
                <td>@character.Origin</td>
                <td>@character.OgType.Name</td>
                <td>@character.Year</td>
                <td>
                    <a asp-controller="Character" asp-action="Edit" asp-route-id="@character.CharacterId" asp-route-slug="@character.Slug" 
                        class="btn btn-primary">Edit</a>
                    <a asp-controller="Character" asp-action="Delete" asp-route-id="@character.CharacterId" asp-route-slug="@character.Slug" 
                        class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<a asp-controller="Character" asp-action="Add" class="btn btn-info">Add New Character</a>